{% extends './base.html' %}
{% block title %}Form to CV Page{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/formCV.css') }}">
{% endblock %}
{% block body %}
<div class="container bg-light">
<main>
    <div class="py-3 text-center">
        <img class="mb-4" src="{{ url_for('static',filename='img/in.png') }}" alt="Hola" width="75" height="75">
      <h2>Formulario para Registro</h2>
    </div>
    <div class="row g-12">
      <div class="col-lg-12">
        <!-- <h4 class="mb-3">Billing address</h4> -->
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="firstNameF" placeholder="Ejemplo: Fernando Alfonso" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="lastNameF" placeholder="Ejemplo: Rivera Castañeda" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Nombre de Usuario<span class="text-muted"> (Opcional)</span></label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="usernameF" placeholder="Ejemplo: fernandoRivera007" required>
              <div class="invalid-feedback">
                  Tu nombre de usuario es requerido.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailF" placeholder="Ejemplo: carlos.alcantara@ucsm.edu.pe">
              <div class="invalid-feedback">
                Porfavor ingrese un correo electronico valido.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Ocupación</label>
              <input type="text" class="form-control" id="ocupationF" placeholder="Ejemplo: Arquitecto" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
<!-- dasda -->
            <div class="col-12">
              <label for="address2" class="form-label">Telefono<span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="telefonoF" placeholder="Ejemplo: 938564789">
            </div>

            <div class="col-md-6">
              <label for="country" class="form-label">Nacionalidad</label>
              <select class="form-select" id="country" required>
                <option value="">Seleccione ...</option>
                <option>United States</option>
                <option>Peru</option>
                <option>España</option>
                <option>Francia</option>
                <option>Puerto Rico</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-6">
              <label for="country" class="form-label">Aptitudes</label>
              <select class="form-select" id="aptitudesF" required>
                <option value="">Escoga ...</option>
                <option>Responsabilidad</option>
                <option>Puntualidad</option>
                <option>Resiliencia</option>
                <option>Creatividad</option>
                <option>Trabajo en Equipo</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

          </div>
          
          <hr class="my-4">
          <h4 class="mb-3">Habilidades</h4>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="frontEndF">
            <label class="form-check-label" for="same-address">FrontEnd</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="backEndF">
            <label class="form-check-label" for="save-info">BackEnd</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="algorithmsF">
            <label class="form-check-label" for="save-info">Algorithms</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="bidDataF">
            <label class="form-check-label" for="save-info">Big Data</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Nivel de Ingles</h4>
          <!-- <h4 class="mb-3">Payment</h4> -->

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <!-- <label class="form-check-label" for="credit">Credit card</label> -->
              <label class="form-check-label" for="fluidF">Fluido</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <!-- <label class="form-check-label" for="debit">Debit card</label> -->
              <label class="form-check-label" for="advanceF">Avanzado</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <!-- <label class="form-check-label" for="paypal">PayPal</label> -->
              <label class="form-check-label" for="intermediateF">Intermedio</label>
            </div>
          </div>

          <!--  -->
          <!--  -->
          <h4 class="mb-3">Lenguajes de Programacion</h4>
          <div class="my-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="c++F" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                C++
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="c#F" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                C#
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="rubyF" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Ruby
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="PythonF" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Python
              </label>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Ingresar y confirmar informacion.</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Andrew</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Contacto</a></li>
      <!-- <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li> -->
    </ul>
  </footer>
</div>

{% endblock%}