<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link 
            href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            rel="stylesheet"/>
        <link 
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" 
            rel="stylesheet"/>
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
        </script>
        <script 
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>

    <body style="margin: 0;padding: 0;">
        <div style=
                "text-align:center ;
                background-color: aquamarine;
                padding: 0;
                margin: 0;"
                >
            <h1 style="margin: 0;padding:0;">WhatsApp - Linkedlin</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-xs-9" style="border: 1px solid red;">
                    <div class="row">
                        <div 
                            class="col-md-12 col-xs-12" 
                            style="border: 1px solid blue;"
                            >
                            <h2>
                                Aqui Tiene que ir la informacion del usuario, como:
                            </h2>
                            <h2>
                                Todos los datos que brinda el Linkedlin.
                            </h2>
                            <h2>
                                C.V - Recomendaciones, .
                            </h2>
                        </div>
                    </div>
                </div>
                <div 
                    class="col-md-3 col-xs-3" 
                    style="border: 1px solid orchid;"
                    >
                    <div>
                        <h2>Hellow Chat 001</h2>
                    </div>
                    <div>
                        <h2>Hellow Chat 002</h2>
                    </div>
                    <div>
                        <h2>Hellow Chat 003</h2>
                    </div>
                    <div>
                        <h2>Hellow Chat 004</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>